<html>
  <head>
    <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
    <script type='text/javascript'>
     google.charts.load('current', {
       'packages': ['geochart'],
       // Note: you will need to get a mapsApiKey for your project.
       // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
       'mapsApiKey': 'AIzaSyA8ezXHrErQ7xyZ76JrTTZJ0WakmYa_Yuc'
     });
     google.charts.setOnLoadCallback(drawMarkersMap);



      function drawMarkersMap() {
      var myMetricValue = 1000000
      var data = google.visualization.arrayToDataTable([
      ['School', 'NCAA National Championships'],
      ['Abilene Christian University (Abilene, Texas)', 0],
      ['Arizona State University (Tempe, Arizona)', 0],
      ['Auburn University (Auburn, Alabama)', 0],
      ['Baylor University (Waco, Texas)', 0],
      ['Belmont University (Nashville, Tennessee)', 0],
      ['Bradley University (Peoria, Illinois)', 0],
      ['Colgate University (Hamilton, New York)', 0],
      ['Duke University (Durham, North Carolina)', 5],
      ['Fairleigh Dickinson University (Hackensack, New Jersey)', 0],
      ['Florida State University (Tallahassee, Florida)', 0],
      ['Gardner-Webb University (Boiling Springs, North Carolina)', 0],
      ['Georgia State University (Atlanta, Georgia)', 0],
      ['Gonzaga University (Spokane, Washington)', 0],
      ['Iona College (New Rochelle, New York)', 0],
      ['Iowa State University (Ames, Iowa)', 0],
      ['Kansas State University (Manhattan, Kansas)', 0],
      ['Liberty University (Lynchburg, Virginia)', 0],
      ['Louisiana State University (Baton Rouge, Louisiana)', 0],
      ['Marquette University (Milwaukee, Wisconsin)', 1],
      ['Michigan State University (East Lansing, Michigan)', 0],
      ['Mississippi State University (Starkville, Mississippi)', 0],
      ['Murray State University (Murray, Kentucky)', 0],
      ['New Mexico State University (Las Cruces, New Mexico)', 0],
      ['North Carolina Central University (Durham, North Carolina)', 0],
      ['North Dakota State University (Fargo, North Dakota)', 0],
      ['Northeastern University (Boston, Massachusetts)', 0],
      ['Northern Kentucky University (Highland Heights, Kentucky)', 0],
      ['Old Dominion University (Norfolk, Virginia)', 0],
      ['Prairie View A&M University (Prairie View, Texas)', 0],
      ['Purdue University (West Lafayette, Indiana)', 0],
      ['Saint Louis University (St. Louis, Missouri)', 0],
      ['Saint Mary\'s College of California (Moraga, California)', 0],
      ['Seton Hall University (South Orange, New Jersey)', 0],
      ['St. John\'s University (Jamaica, New York)', 0],
      ['Syracuse University (Syracuse, New York)', 1],
      ['Temple University (Philadelphia, Pennsylvania)', 0],
      ['Texas Tech University (Lubbock, Texas)', 0],
      ['The Ohio State University (Columbus, Ohio)', 1],
      ['University at Buffalo (Buffalo, New York)', 0],
      ['University of California, Irvine (Irvine, California)', 0],
      ['University of Central Florida (Orlando, Florida)', 0],
      ['University of Cincinnati (Cincinnati, Ohio)', 2],
      ['University of Florida (Gainesville, Florida)', 2],
      ['University of Houston (Houston, Texas)', 0],
      ['University of Iowa (Iowa City, Iowa)', 0],
      ['University of Kansas (Lawrence, Kansas)', 3],
      ['University of Kentucky (Lexington, Kentucky)', 8],
      ['University of Louisville (Louisville, Kentucky)', 2],
      ['University of Maryland (College Park, Maryland)', 1],
      ['University of Michigan (Ann Arbor, Michigan)', 0],
      ['University of Minnesota (Minneapolis?Saint Paul, Minnesota)', 0],
      ['University of Mississippi (Oxford, Mississippi)', 0],
      ['University of Montana (Missoula, Montana)', 0],
      ['University of Nevada, Reno (Reno, Nevada)', 0],
      ['University of North Carolina (Chapel Hill, North Carolina)', 6],
      ['University of Oklahoma (Norman, Oklahoma)', 0],
      ['University of Oregon (Eugene, Oregon)', 1],
      ['University of Tennessee (Knoxville, Tennessee)', 0],
      ['University of Vermont (Burlington, Vermont)', 0],
      ['University of Virginia (Charlottesville, Virginia)', 0],
      ['University of Washington (Seattle, Washington)', 0],
      ['University of Wisconsin-Madison (Madison, Wisconsin)', 1],
      ['Utah State University (Logan, Utah)', 0],
      ['Villanova University (Radnor Township, Pennsylvania)', 3],
      ['Virginia Commonwealth University (Richmond, Virginia)', 0],
      ['Virginia Tech (Blacksburg, Virginia)', 0],
      ['Wofford College (Spartanburg, South Carolina)', 0],
      ['Yale University (New Haven, Connecticut)', 0],
      ]);

      var options = {
        region: 'US',
        displayMode: 'markers',
        colorAxis: {colors: ['green', 'blue']}
      };

      var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    };
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>