<html>
  <head>
    <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
    <script type='text/javascript'>
     google.charts.load('current', {
       'packages': ['geochart'],
       // Note: you will need to get a mapsApiKey for your project.
       // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
       'mapsApiKey': 'AIzaSyA8ezXHrErQ7xyZ76JrTTZJ0WakmYa_Yuc'
     });
     google.charts.setOnLoadCallback(drawMarkersMap);

      function drawMarkersMap() {
      var data = google.visualization.arrayToDataTable([
        ['City',   'Population', 'Area'],
        ['Texas Tech (Abeline)',   1000000,    1000],
        ['Tempe', 1000000, 1000],
['Auburn', 1000000, 1000],
['Waco', 1000000, 1000],
['Nashville', 1000000, 1000],
['Peoria', 1000000, 1000],
['Hamilton', 1000000, 1000],
['Durham', 1000000, 1000],
['Hackensack', 1000000, 1000],
['Tallahassee', 1000000, 1000],
['Boiling Springs', 1000000, 1000],
['Atlanta', 1000000, 1000],
['Spokane', 1000000, 1000],
['New Rochelle', 1000000, 1000],
['Ames', 1000000, 1000],
['Manhattan', 1000000, 1000],
['Lynchburg', 1000000, 1000],
['Baton Rouge', 1000000, 1000],
['Milwaukee', 1000000, 1000],
['East Lansing', 1000000, 1000],
['Starkville', 1000000, 1000],
['Murray', 1000000, 1000],
['Las Cruces', 1000000, 1000],
['Durham', 1000000, 1000],
['Fargo', 1000000, 1000],
['Boston', 1000000, 1000],
['Highland Heights', 1000000, 1000],
['Norfolk', 1000000, 1000],
['Prairie View', 1000000, 1000],
['West Lafayette', 1000000, 1000],
['St. Louis', 1000000, 1000],
['Moraga', 1000000, 1000],
['South Orange', 1000000, 1000],
['Jamaica', 1000000, 1000],
['Syracuse', 1000000, 1000],
['Philadelphia', 1000000, 1000],
['Lubbock', 1000000, 1000],
['Columbus', 1000000, 1000],
['Buffalo', 1000000, 1000],
['Irvine', 1000000, 1000],
['Orlando', 1000000, 1000],
['Cincinnati', 1000000, 1000],
['Gainesville', 1000000, 1000],
['Houston', 1000000, 1000],
['Iowa City', 1000000, 1000],
['Lawrence', 1000000, 1000],
['Lexington', 1000000, 1000],
['Louisville', 1000000, 1000],
['College Park', 1000000, 1000],
['Ann Arbor', 1000000, 1000],
['Minneapolis?Saint Paul', 1000000, 1000],
['Oxford', 1000000, 1000],
['Missoula', 1000000, 1000],
['Reno', 1000000, 1000],
['Chapel Hill', 1000000, 1000],
['Norman', 1000000, 1000],
['Eugene', 1000000, 1000],
['Knoxville', 1000000, 1000],
['Burlington', 1000000, 1000],
['Charlottesville', 1000000, 1000],
['Seattle', 1000000, 1000],
['Madison', 1000000, 1000],
['Logan', 1000000, 1000],
['Radnor Township', 1000000, 1000],
['Richmond', 1000000, 1000],
['Blacksburg', 1000000, 1000],
['Spartanburg', 1000000, 1000],
['New Haven', 1000000, 1000],


      ]);

      var options = {
        region: 'US',
        displayMode: 'markers',
        colorAxis: {colors: ['green', 'blue']}
      };

      var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    };
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>